      * {
      	box-sizing: border-box;
      }

      body {
      	margin: 0px;
      	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      	font-size: 1rem;
      	line-height: 1.5;
      	color: #333;
      	overflow-x: hidden;
      }

      .v-header {
      	height: 100vh;
      	display: flex;
      	align-items: center;
      	color: #fff;
      }

      .contain {
      	max-width: 960px;
      	padding-left: 1rem;
      	padding-right: 1rem;
      	margin: auto;
      	text-align: center;
      }

      .fullscreen-video-wrap {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100vh;
      	overflow: hidden;
      }

      .fullscreen-video-wrap video {
      	min-width: 100%;
      	min-height: 100%;
      }

      .header-overlay {
      	height: 100vh;
      	width: 100vw;
      	position: absolute;
      	top: 0;
      	left: 0;
      	background: #225470;
      	z-index: 1;
      	opacity: 0.80;
      }

      .header-content {
      	z-index: 2;
      	font-size: 20px;
      	margin-top: -40px;
      }

      <!--navbar-->.nav {
      	color: #ffffff;
      	list-style: none;
      	text-align: center;
      	margin-top: 0px;
      }

      .nav>li {
      	display: inline-block;
      	padding: 0 50px 0 50px;
      }

      .nav>li>a {
      	text-decoration: none;
      	color: #ffffff;
      }

      .nav>li>a:hover {
      	color: #eef10a;
      }

      .hero {
      	font-family: 'Acme', sans-serif;
      	font-size: 120px;
      	padding-top: 80px;
      }

      .hero span {
      	color: rgb(154, 243, 10);
      }

      .hero1 {
      	font-family: 'Acme', sans-serif;
      	font-size: 35px;
      	color: #4CF10B;
      	padding-top: 30px;
      }

      .pigm1,
      .pigm2,
      .pigm3 {
      	position: relative;
      	opacity: 0.65;
      	background-position: center;
      	background-size: cover;
      	background-repeat: no-repeat;
      	background-attachment: fixed;
      }

      .section {
      	text-align: center;
      	padding: 50px 80px;
      }

      .title {
      	font-family: 'Acme', sans-serif;
      	font-size: 70px;
      }

      .but {
      	padding-top: 10px;
      }

      .sh {
      	padding-left: 530px;
      }

      .ima1 {
      	height: 250px;
      	width: 250px;
      	border-radius: 18px;
      	padding-right: 0px;
      }

      .ima4 {
      	height: 200px;
      	width: 270px;
      	border-radius: 5px;
      	padding-right: 50px;
      }

      .hero2 {
      	font-family: 'Acme', sans-serif;
      }

      .sh {
      	padding-left: 530px;
      }
      /*Image card
<style>
    .demo-card-image.mdl-card {
        width: 256px;
        height: 256px;
        background: url('../assets/demos/image_card.jpg') center / cover;
    }

    .demo-card-image>.mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
    }

    .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }

    */

      .ima3 {
      	height: 200px;
      	width: 200px;
      	border-radius: 5px;
      	padding-left: 20px;
      }

      .ima5 {
      	height: 200px;
      	width: 200px;
      	border-radius: 5px;
      	padding-left: 30px;
      }

      .align1 {
      	padding-left: 35px;
      	padding-top: 30px;
      }

      .align2 {
      	padding-left: 50px;
      	padding-top: 30px;
      }

      .align3 {
      	padding-left: 50px;
      	padding-top: 30px;
      }